 #Map {
 	height: 360px;
 	position: top;
}

 .map-wrapper {
  	height: 420px;
	width: 80%;
	/*margin: auto;*/
	margin-top: 20px;
	/*border: 3px solid green;*/
	/*padding: 10px;*/
	/*background-color: #282c34;*/
	background-color: rgba(0,0,0,0.6);
}

.legend {
  display: flex;
  flex-direction: row;
  height: 60px;
  width: 100%;
  color: white;
  position: bottom;
  align-items: center;
  justify-content: left;
  padding-left: 5px;
}

.legend_image {
  height: 50px;
  width: 50px;
  margin-left: 20px;
}

.legend_text {
  margin-left: 10px;
  text-align: left;
}

.legend_square1 {
	height: 50px;
  	width: 50px;
	background-color: #892536;
	margin-left: 20px;
}

.legend_square2 {
	height: 50px;
  	width: 6px;
	background-color: #398bfc;
	margin-left: 20px;
}

.legend_square3 {
	height: 50px;
  	width: 50px;
	background-color: #362251;
	margin-left: 20px;
}

.sec{
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.low-tatras {
	/*background-color: #D8C3A5;*/
	background-image: url(../assets/images/body-bg-blur.jpg);
  	background-size: cover;
}

.sumava {
	/*background-color: #F3D250;*/
	background-image: url(../assets/images/body-bg-blur1.jpg);
  	background-size: cover;
}

.decin {
	/*background-color: #F78888;*/
	background-image: url(../assets/images/body-bg-blur2.jpg);
  	background-size: cover;
}

.map-header {
	color: white;
}

.map-desc {
	color: white;
	padding-right: 10%;
	padding-left: 10%;
}