 .App {
  text-align: center;
}

.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  height: 20vmin;
  pointer-events: none;
} 

 .App-header {
  /*background-color: #282c34;*/
  /*background-image: url(./assets/images/deforestation.jpg);*/
  background-image: url(./assets/images/head-bg3.jpg);
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-right: 5%;
  padding-left: 5%;
} 

 .App-link {
  color: #61dafb;
}

 .App-footer {
  background-color: #282c34;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*font-size: calc(10px + 2vmin);*/
  color: white;
  padding-right: 5%;
  padding-left: 5%;
} 

.Footer-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  height: 5vmin;
  pointer-events: none;
} 

.Footer-div {
  padding-bottom: 20px;
}

.description {
  /*background-color: #000000;*/
  /*text-decoration-color: white;*/
  /*filter: alpha(opacity=60); /* For IE8 and earlier */
  /*opacity: 0.5;*/
  background-color: rgba(0,0,0,0.6);
  margin: 5%;
  padding-right: 5%;
  padding-left: 5%;
  padding-top: 3%;
  padding-bottom: 3%;
}

.btn-dark {
    border-radius: 0;
    color: #fff;
    background-color: rgba(0,0,0,0.4);
    margin-bottom: 30px;
    margin-top: 30px;
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #fff;
    background-color: rgba(0,0,0,0.7);
}

.call-to-action .btn {
    margin: 10px;
}

.nav-item > .active {
    border-radius: 0;
    color: #fff;
    background-color: rgba(0,0,0,0.4);
    margin-bottom: 50px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 
